img{
    width: 500px;
    height: auto;
    background-color: black;
}
body{
    background-color: black;
    color: aliceblue;
    font-size: 125%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    font-family:  "gugi","Megrim",'Courier New', Courier, monospace;
}

.nextToImage{
 flex: 1;
}

.textAndImage{
       display: flex;
      align-items: flex-start;   
  gap: 20px;                
  margin-bottom: 30px;  
}

.home-button a{
  position: relative;
  top: 2%;
  left: .5%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo{
  width: 100%;
  height: 100%;
  transition: transform .85s ease;
}

.home-button:hover .home-logo{
  transform: translateY(-30px) rotate(360deg);
}


  .home button a {
    display: inline-block;
  }