img{
    width: 500px;
    height: auto;
    background-color: black;
}
body{
    background-color: black;
    color: aliceblue;
    font-size: 125%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    font-family: "open sans";
}

.nextToImage{
 flex: 1;
}

.textAndImage{
       display: flex;
      align-items: flex-start;   
  gap: 20px;                
  margin-bottom: 30px;  
}



.home-logo{
  width: 100px;
  height: 100px;
  transition: transform .85s ease;
}

.home-logo:hover{
  transform: translateY(-30px) rotate(360deg);
 
}

