body {
   background-color: rgb(8, 8, 8); 
    color:white;
    font-weight: 100;


}
.background {
 display: flex;
 justify-content: center;
 align-items: center;    
 position: relative;
 height: 100vh;
 background-image: url("Brcontactsheet2.png");
 background-size: cover;
 background-position: center;
 display: flex; 
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
 overflow: hidden;
}



#email-link, 
#email-link:link, 
#email-link:visited, 
#email-link:active{
    position: absolute;
text-decoration: none;
font-family: 'Google sans Flex','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 400;

font-size: min(4vw, 6vh);
display: flex;
justify-content: center;
align-items: center; 

padding: 10px 20px;
background: rgba(0,0,0,0.3);
border-radius: 8px;
position: absolute;
color: inherit;
text-decoration: none;
z-index: 100;

bottom: 50%px;
}

#email-link:hover{
    position: absolute;
text-decoration: none;
font-family: 'Google sans Flex', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: min(4vw, 6vh);
padding: 10px 20px;
background: rgba(0,0,0,0.3);
border-radius: 8px;
position: absolute;
color: inherit;
text-decoration: underline;
z-index: 100;

}


.home-button a{
  position: fixed;
  top: 3%;
  left: 1.5%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo{
  width: 100%;
  height: 100%;
  transition: transform .85s ease;
}

.home-button:hover .home-logo{
  transform: translateY(-30px) rotate(360deg);
}


  .home button a {
    display: inline-block;
  }